* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #00008b;
    padding: 1rem;
}

.top-bar {
    background-color: #2e0073;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 0; /* Grossura da barra */
    font-size: 18px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.carros-section {
    margin: 2rem auto;
    width: 80%;
    background-color: #eaeaea;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.novo-carro-btn {
    background-color: #00008b;
    color: white;
    padding: 0.8rem 1.5rem;
    border: 2px solid #00008b; /* Borda visível */
    cursor: pointer;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px; /* Borda arredondada sutil */
}

.novo-carro-btn:hover {
    background-color: #000070;
}


.novo-carro-btn:hover {
    background-color: #000070;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333333;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

td {
    background-color: #484848;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.edit-btn, .delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.edit-btn {
    color: #4CAF50;
}

.delete-btn {
    color: #F44336;
}

input[type="button"]:hover {
    background-color: var(--cor-primaria); 
}